    
/* CSS Styles */
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
        #themeimg{ /*ensures size of images*/
            width: 40px;
            height: 40px;
        }
        .dark-mode{
            background-color: black;
            color:white;
        }
        .dark-mode img{
            content:url("light.png");
            background-color: black;
            transition: 0.2s ease-in-out;
        }
        .dark{
            position:absolute;
            top:10px;
            right:10px;
        }
        .dark:hover{
            color:black;
        }
        .light{
            position:absolute;
            top:10px;
            right:10px;
        }
        .light-mode{
            background-color: white;
            color:black;
        }
        .light-mode img{
            content:url("dark.png");
            background-color: white;
            transition:0.2s ease-in-out;
        }
        .body{
            background-color: var(--bg-color);
            color:var(--text-color);
            transition: 0.2s ease-in-out;

        }
        .table{
            border: 1px solid black;
            border-collapse:collapse;
            width: 100%;
            padding:auto;
        }
        .nameheading{
            text-align:center;
            background-color: black;
            color:white;
            padding:14px 20px;
            display:block;
            margin:-10px -10px;
        }
        .about{
            text-align:center;
            text-decoration: underline;
        }
        .headings{
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            background-color: white;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
        .subheadings{
            text-decoration:underline;
        }
        .navcontainer{
            display:flex;
            background-color: black;
            padding:14px; 
            margin-left:-10px;
            margin-right:-10px;
        }
        .nav-item{
            color:white;
            text-align:center;
            padding:14px 20px;
            flex:1;
            text-decoration:solid;
        }
        .nav-item:hover{
            background-color:rgb(91, 91, 91);
        }
        .projectcontainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        @keyframes boxshadw{
            from{
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
            }
            to{
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
            }
        }
        .box{
            display:inline-block;
            vertical-align: top;
            width:auto;
            padding:auto;
            background-color: rgb(0, 0, 0);
            transition: boxshadw 0.3s ease-in-out;
            border: 0px solid black;
        }
        .box-desc{
            text-align: center;
            padding:10px;
            color:whitesmoke;
        }
        .box-link{
            text-align: center;
            display:block;
            margin:15px auto;
            width:fit-content;
        }
        
